body {
  text-align: center;
}
#s:before {
  background-image: url("../images/sp_back.jpg");
  opacity: 0.5;
}
body::after {
  background-image: url("../images/sp_back.jpg");
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
h1 {
  text-align: center;
  opacity: 100;
}

div {
  width: 33%;
  margin-left: 33%;
  text-align: center;
  opacity: 100;
}
