body {
    background-color: burlywood;
    text-align: center;
}

h1 {
    color:darkblue;
    font-weight: bold;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
