{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Arena</title>
  </head>
  <body style="background-color: crimson; text-align: center">
    <h1 style="text-align: center">Spider man-2</h1>

    <img
      src="{% static 'Marvels-spider-man-2.png' %}"
      alt="Spider man-2"
      width="800"
      height="400"
    />

    <div style="width: 33%; margin-left: 33%; text-align: center">
      <p>
        يعود سبايدرمِان، بيتر باركر ومايلز مورالز، لمغامرة جديدة ومثيرة في سلسلة
        سبايدرمان من مارفل التي نالت استحسان النقاد لـPS5. تأرجح واقفز واستخدم
        أجنحة شبكة العنكبوت الجديدة لتنقل عبر مدينة نيويورك في عالم مارفل وبدل
        بين شخصيتي بيتر باركر ومايلز مورالز لتجربة قصص مختلفة وقوى ملحمية جديدة،
        بينما يهدد الشرير فينوم بتدمير حياتهما ومدينتهما وأحبتهما.
      </p>
    </div>
  </body>
</html>
