{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Game Arena</title>
  </head>
  <body>
    <p id="s"></p>
    <h1>Spider man-2</h1>
    <a href="https://www.playstation.com/ar-sa/games/marvels-spider-man-2/">
      <img src="{% static 'images/Marvels-spider-man-2.png' %}"
      alt="Spider man-2"
      width="700"
      height="400"
    /></a>
    <div>
      <p>
        يعود سبايدرمِان، بيتر باركر ومايلز مورالز، لمغامرة جديدة ومثيرة في سلسلة
        سبايدرمان من مارفل التي نالت استحسان النقاد لـPS5. تأرجح واقفز واستخدم
        أجنحة شبكة العنكبوت الجديدة لتنقل عبر مدينة نيويورك في عالم مارفل وبدل
        بين شخصيتي بيتر باركر ومايلز مورالز لتجربة قصص مختلفة وقوى ملحمية جديدة،
        بينما يهدد الشرير فينوم بتدمير حياتهما ومدينتهما وأحبتهما.
      </p>
  </body>
</html>
