<!DOCTYPE html>
<html>
<head>
<title>Eldin Ring DLC</title>

<style>
body {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/038/586/499/large/sonya-bondareva-elden-ring-tree-smal.jpg?1623498271');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>
</head>


<body>
<br><br><br><br><br>
<h1 style="background-color:PapayaWhip; color:DarkSlateGray; font-family:courier; font-size:40px;" align="center" > The Elden Ring <br>Shadow of the Erdtree DLC date </h1>
<br><br><br><br><br>

<img src="https://assets-prd.ignimgs.com/2023/02/28/eldenringdlc-ign-1677617106615.jpg" alt="Game image" width="600" height="600" style="margin-left:auto; margin-right:auto; display:block; ">
<br><br><br>

<p style="background-color:DarkSlateGray; font-size:19px; color:PapayaWhip; font-family:courier;"align="center" ><br>The Elden Ring Shadow of the Erdtree DLC has finally been properly revealed with a glorious trailer<br> showing off the Land of Shadow and a June release. 
This land is the setting for the expansion and is its own map, <br>where ye Tarnished players will be following in the footsteps of Miquella<br> to learn why he came to this mysterious land. 
It's the first (and likely only) expansion for Elden Ring,<br> and it looks pretty massive with a huge variety of open areas and dungeons to delve into.<br> Of course there will be some horrific bosses waiting in those spaces too. 
Let's take you through everything we know <br>about Elden Ring DLC and the Shadow of the Erdtree expansion.<br><br></p>
<br><br><br><br>

<p style="background-color:PapayaWhip; font-size:19px; color:DarkSlateGray; font-family:courier;"align="center"> <br>You can play Shadow of the Erdtree on June 21, 2024. Pre-orders are now live, <br>including a swanky collector's edition that comes with an art book and a<br> massive statue of new character Messmer the Impaler.
<br> Shadow of the Erdtree isn't a standalone thing, so you will need to own Elden Ring already 
<br>to play the expansion, but you can also get a convenient bundle that includes both.<br><br></p>
<br><br><br>

<img src="https://cdn.mos.cms.futurecdn.net/4bftznSqQSqcwCPxHE4Hvc-1200-80.jpg.webp" alt="Game image" width="900" height="600" style="margin-left:auto; margin-right:auto; display:block; ">
<br><br><br>


</body>
</html>
