<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameArena</title>
</head>
<body>
   <h1>welcome to the GameArena</h1>
   <hr> 
   <img src=GameArena.jpg height="150" width="150" 
     alt="game image">
   <hr>
   <p><b> Games </b>and sports are very important in one's life.
     Those who participate in <b>game</b> and sports have a good outlook on life because they are likely to be physically and mentally fit. 
     They are beneficial in a variety of ways, including helping to maintain blood pressure, increase blood flow, 
     improve thinking capacity and attention, and so on. 
     It assists in the development of a team spirit and develops a leadership quality in the individual, 
     in addition to being physically and intellectually fit.
     When people participate in sports or games, they become more intelligent, 
     energetic, and courageous. Many children pursue careers in numerous sports and games, 
     making them well-known figures in society.</p>
</body>
</html>