{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GAMES</h1>
    <img src="{% static 'main/images/game.jpg' %}" alt="Game Image">
    <p>
        Games provide more than entertainment; they offer cognitive benefits that
        positively impact the brain.<br> Whether through video games, board games, 
        or puzzles, individuals engage in activities that stimulate critical thinking
        and problem-solving skills.<br> Video games, with their immersive environments, 
        promote quick decision-making and strategic planning, enhancing cognitive flexibility.<br>
        Board games and puzzles contribute to spatial reasoning, memory, and logical thinking.<br>
        Multiplayer games additionally foster social skills, encouraging collaboration. Scientific
        studies suggest<br> that regular engagement with challenging games can improve cognitive functions,
        including memory <br> and hand-eye coordination. In essence, incorporating games into 
        daily routines not only entertains but also exercises and strengthens the mind.
    </p>
</body>
</html>