<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        body {
            background-color: burlywood;
            text-align: center;
        }

        h1 {
            color:darkblue;
            font-weight: bold;
        }
        
        h2 {
            color:cadetblue;
            text-decoration: underline;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
    <title>Games Arena</title>
</head>
<body>
    <h1>Welcome to Games Arena!</h1>
    <h2>Todays Game</h2>
    <img src="SMM2.jpeg" alt="Super Mario Maker 2 Game Image">
    <p><strong>Game Name: Super Mario Maker 2</strong></p>
    <p><strong>Date: April  3rd, 2015</strong></p>
    <p>Super Mario Maker 2 is a 2019 platform game and game creation system developed and published by Nintendo for the Nintendo Switch.</p>

</body>
</html>