{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'main/image/game.png' %}">
</head>
<body>
    <h1>Game Arena</h1>
    <img src="{% static 'main/image/game.png' %}" alt="Goober Dash">
    <p>Goober Dash is a multiplayer battle royale game that you can play online. 
        Dash your opponents into deadly spikes, gather precious coins, 
        and unlock a plethora of unique costumes as you strive to outlast the competition. 
        Invite your friends to engage in epic battles in custom private lobbies. 
        Unleash your creativity with the level editor, crafting and conquering your very own battlegrounds. 
        Climb the global and country-based seasonal leaderboards to prove your dominance in this thrilling contest.</p>

</body>
</html>