{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
    <h1>Welcome To Game Arena</h1>
    <h2>** The Legend of Zelda: Majora’s Mask **</h2>
    <img src="{% static 'main/images/zelda.jpg' %}" alt="The Legend of Zelda: Majora’s Mask"> 
    <p>During his months-long search for Navi in this direct sequel to Ocarina of Time, Link runs into the Skull Kid,
         who wears the titular mask and steals Link’s horse, prompting the hero to chase him into the parallel <br>world of Termina. 
         The mask itself is inhabited by a demon named Majora, and corrupts the Skull Kid to the point where he plots to destroy Termina by 
         bringing down the moon.<br> With only three days to stop the apocalypse, Link uses transformative masks to free the Four Giants from four
         different regions to help keep the moon from colliding with the earth and defeat Majora.</p>
</body>

</html>