<!DOCTYPE html>
<html >

<head>
  
</head>

<body>
    <h1>Welcome To Game ludo </h1>

    <img src ="https://th.bing.com/th?id=OIP.0FlCaHc-fpqMC1XYguQ-pwHaHw&w=244&h=255&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2.jpg">
    <p>
        is a strategy board game for two to four players, in which the players race their four tokens from start 
        to finish according to the rolls of a single die. Like other cross and circle games, Ludo is derived from
         the Indian game Pachis

    </p>
</body>

</html>